#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.loading {
    text-align: center;
    padding-top: 25%;
}

body {
    background-color: black;
    color: white;
    font-family: "Site Font";
}

#header {
    text-align: center;
    margin-top: -25%;
}

pre {
    margin: 0px;
    font-family: "Game Font";
}

table {
    font-size: 5vmin;
    font-family: "Game Font";    
    line-height: 0.9;
    border-collapse: collapse;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

@media only screen and (min-width: 1400px) {
    .center {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        padding-top: 2em;
        max-width: 1200px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1400px)
{
    .center {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 1.5em;
        padding-top: 2em;
    }
}

@media only screen and (max-width: 800px)
{
    .center {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1em;
        padding-top: 1em;
    }
}



.GreenRock {
    color: green;
    background-color: lightgreen;
}

.Cave {
    background-color: black;
}

.Hero {
    color: green;
}


