@page "/about"

<div id="header">
    <h1>Fable of Griselda</h1>
    <a href="/">Play</a>
</div>

<div class="center">
    <p>
Bacon ipsum dolor amet ball tip hamburger flank kevin doner beef turducken. Pancetta chuck bacon tongue, ground round kielbasa cupim andouille jowl. Drumstick beef ribs shoulder, prosciutto pork chop corned beef strip steak bresaola turkey tail fatback. Spare ribs corned beef ham hock pastrami, tri-tip cupim rump sausage pork chop shank prosciutto.
    </p>

    <p>
Tenderloin landjaeger pork loin cow. Kevin shankle short ribs meatloaf, t-bone drumstick biltong meatball doner. Shoulder drumstick chicken porchetta sausage flank pork boudin pork chop. Tail landjaeger pancetta swine. Hamburger spare ribs prosciutto, venison burgdoggen kielbasa pork loin fatback turkey. Filet mignon bacon landjaeger, strip steak sirloin hamburger rump pig ball tip. Swine buffalo venison, picanha turducken fatback ham short loin chuck.
    </p>
</div>

