@page "/"

<button @onclick="TogglePause" >@buttonText</button>

<pre>
<table>
@for (int x = 0; x < 16; x++)
{
    <tr>
    @for (int y = 0; y < 11; y++)
    {
        <td>@map[x, y]</td>
    }
    </tr>
}
</table>
</pre>


@code{
    private static Random rand = new Random();

    private char[,] map = new char[,]
    {
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'},
    {'♠','♠','♠','♠','♠','♠','♠','♠','♠','♠','♠'}
    };
    private Task task;
    private string buttonText = "Pause";
    private bool paused;

    protected override void OnInitialized()
    {
        Console.WriteLine("Initialized");
        task = Task.Run(Update);
    }

    public void TogglePause()
    {
        paused = !paused;
        buttonText = paused ? "Unpause" : "Pause";
    }

    private async Task Update()
    {
        paused = false;
        while (true)
        {
            if (!paused) Step();
            await Task.Delay(TimeSpan.FromSeconds(0.5));
        }
    }

    char[] characters = new[] { '@', '©', '⁕', '⁂' };

    public void Step()
    {
        var yPosition = rand.Next(map.GetLength(0));
        var xPosition = rand.Next(map.GetLength(1));
        Console.WriteLine($"Changing ({xPosition}, {yPosition})");
        map[yPosition, xPosition] = characters[rand.Next(characters.Length)];
        this.StateHasChanged();
    }
}